*{
    line-height: 1.75em !important;
}

body{
    background-color: white !important;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dark-900{
    color: #424242 !important;
}

.dark-400{
    color: #666666 !important;
}

.dark-100{
    color: #9b9b9b !important;
}

.sky-blue{
    color: #387ed1;
}

.bg-sky-blue{
    background-color: #387ed1;
}

.fw-400{
    font-weight: 400 !important;
}

.fw-500{
    font-weight: 500 !important ;
}

.link , a:hover{
    color: #387ed1 !important;
    text-decoration: none;
}

.bg-wheat{
    background-color: #fbfbfb !important;
}

.links-container a, .additional-links a{
    color: #666;
    text-decoration: none;
    
}

.additional-links a{
    font-size: 0.8rem;
}


.links-container .list-head{
    font-size: 1.125rem;
    font-weight: 500 !important;
    margin: 0rem 0rem 0.5rem;
}

.legal-notes{
    font-size: 0.65rem;
    color: #9b9b9b;
}